[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto.git
[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
